<div class="homepage">
  <div class="centered">
    <h1>Like Minder</h1>
    <h3>Time To Step Outside</h3>
    <%= link_to "Sign Up", new_user_registration_path, :class=>"button btn btn-secondary", :id=>"signup-button" %>
    <%= link_to "Log in", new_user_session_path, :class=>"button btn btn-secondary", :id=>"signup-button" %>
  </div>
</div>

