/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';

body {
  font-family: 'Roboto', sans-serif;

  margin: 0 auto;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin-top: 25px;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

img {
  border-radius: 5px;
}

.nav {
  float: right;
}

.card {
  margin: 20px auto;
  max-width: 400px;
  position: relative;

  .list-group-item {
    border: none; 
  }
}


#con {
  margin-top: 70px;
}

.navbar-brand {
  width:150px;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
}


#logo {
  padding: 0;
  height: 30px;
  padding-top: 3px;
  margin-top: 10px;
  color: #666666;
  font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
  font-weight: 400;
}

#nav-right {
  float:right;
}

#profile_image {
  display: inline;
  padding-right: 2px;
}

.goings-list {
  margin-bottom: 10px;
}

#profile_username {
  display: inline;
  padding-left: 0px;
}

#profile_tab {
  margin-top: 10px;
}

#sel1 {
  width: 100px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* Thumbnail
-------------------------------------------------- */
/* Image Box Style */
.box {
  cursor: pointer;
  height: 460px;
  float: left;
  margin: 5px;
  position: relative;
  overflow: hidden;
  width: 270px;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}

.box img {
  position: absolute;
  left: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out; 
  transition: all 300ms ease-out;
}

/* Caption Common Style */
.box .caption {
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  color: #fff;
  z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
  left: 0;
}

.box .fade-caption, #mainwrapper .box .scale-caption  {
  opacity: 0;
  width: 270px;
  height: 460px;
  text-align: center;
  padding: 20px;
}

.card-content {
  width:230px;
  height:420px;
  border: 5px solid black;
  padding: 10px;
  padding-top: 100px;
}

h3 {
  font-size: 22px;
  font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
}

h3 a {
  text-decoration: underline;
  color: white;
}

h3 a:hover {
  color: white;
}

.card-title {
  margin-top: 30px;
  margin-bottom: 50px;
}

.activity-mini {
  display: inline-block;
}

.box:hover .fade-caption, #mainwrapper .box:hover .scale-caption  {
  opacity: 1;
}

.card-interest {
  background-color: black;
  width: 130px;
  height:50px;
  float: left;
  margin-left: 55px;
  margin-top: -20px;
  padding-top:13px;
}

#nav-bar {
  margin: 0px;
}
/*
 * Globals
 */

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  background-color: #F0F0F0!important;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

.container {
  max-width: 150rem;
}


/*
 * Masthead for nav
 */

.blog-masthead {
  margin-bottom: 3rem;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
          box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
}

/* Nav links */
.nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: #cdddeb;
}
.nav-link:hover,
.nav-link:focus {
  color: #fff;
  background-color: transparent;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
  color: #fff;
}
.nav-link.active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.3rem;
  vertical-align: middle;
  content: "";
  border-right: .3rem solid transparent;
  border-bottom: .3rem solid;
  border-left: .3rem solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;
  border-bottom: .05rem solid #eee;
}
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: normal;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}


/*
 * Main column and sidebar layout
 */

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 1rem;
  /*margin: 0 -1rem 1rem;*/
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}


/*
 * Footer
 */

 .footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: 80px;
 }

 .footer-distributed .footer-left,
 .footer-distributed .footer-center,
 .footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
 }

 /* Footer left */

 .footer-distributed .footer-left{
  width: 40%;
 }

 /* The company logo */

 .footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
 }

 .footer-distributed h3 span{
  color:  #5383d3;
 }

 /* Footer links */

 .footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
 }

 .footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
 }

 .footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
 }

 /* Footer Center */

 .footer-distributed .footer-center{
  width: 35%;
 }

 .footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
 }

 .footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
 }

 .footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
 }

 .footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
 }

 .footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
 }


 /* Footer Right */

 .footer-distributed .footer-right{
  width: 20%;
 }

 .footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
 }

 .footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
 }

 .footer-distributed .footer-icons{
  margin-top: 25px;
 }

 .footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
 }

 /* If you don't want the footer to be responsive, remove these media queries */

 @media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

 }

 @import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');


 /* In our demo, the footers are fixed to the bottom of the page */

 footer{
  position: fixed;
  bottom: 0;
 }

 @media (max-height:800px){
  footer { position: static; }
  header { padding-top:40px; }
 }

 .footer-basic-centered{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 18px sans-serif;

  padding: 45px;
  margin-top: 80px;
 }

 .footer-basic-centered .footer-company-motto{
  color:  #8d9093;
  font-size: 24px;
  margin: 0;
 }

 .footer-basic-centered .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  margin: 0;
 }

 .footer-basic-centered .footer-links{
  list-style: none;
  font-weight: bold;
  color:  #ffffff;
  padding: 35px 0 23px;
  margin: 0;
 }

 .footer-basic-centered .footer-links a{
  display:inline-block;
  text-decoration: none;
  color: inherit;
 }

 /* If you don't want the footer to be responsive, remove these media queries */

 @media (max-width: 600px) {

  .footer-basic-centered{
    padding: 35px;
  }

  .footer-basic-centered .footer-company-motto{
    font-size: 18px;
  }

  .footer-basic-centered .footer-company-name{
    font-size: 12px;
  }

  .footer-basic-centered .footer-links{
    font-size: 14px;
    padding: 25px 0 20px;
  }

  .footer-basic-centered .footer-links a{
    line-height: 1.8;
  }
 }




.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}


#entry-header {
  text-align: center;
}

.entry-content {
  color: #5d5b5c;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  overflow: hidden;
  display: block;
}
.blog-post-title {
  margin-bottom: 15px;
}
.blog-post-meta {
  margin-bottom: 20px;
}
.entry-category {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family:'Lato',sans-serif;
}

.entry-title {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
}

#show-poster {
  overflow: hidden;
  height:auto;
}

.sidebar-module-inset {
  background-color: #ffffff
}
#join {
  width: 150px;
  margin-bottom: 20px;
}
#join a {
  color:white;
}
#join a:hover {
  color:white;
  text-decoration: none;
}
#like {
  width: 150px;
  margin-bottom: 20px;
}
#like a {
  color:white;
}
#like a:hover {
  color:white;
  text-decoration: none;
}
#info {
  width: 150px;
  margin-bottom: 20px;
}
#info a {
  color:white;
}
#info a:hover {
  color:white;
  text-decoration: none;
}

// .post-img-link-wrapper-featured {
//   height: 460px;
//   width: 730px;
//   margin-top: 300px;
// }




// group ----Styling-------//


a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#ffffff;
}
.stars {
    margin:20px auto 1px;    
}




// Comment -------Styling------//

.thumbnail {
    padding:0px;
}
.panel {
  position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
  position:absolute;
  top:11px;left:-16px;
  right:100%;
  width:0;
  height:0;
  display:block;
  content:" ";
  border-color:transparent;
  border-style:solid solid outset;
  pointer-events:none;
}
.panel>.panel-heading:after{
  border-width:7px;
  border-right-color:#f7f7f7;
  margin-top:1px;
  margin-left:2px;
}
.panel>.panel-heading:before{
  border-right-color:#ddd;
  border-width:8px;
}


body{ background: #fafafa;}
.widget-area.blank {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
-webkit-box-shadow: none;
-moz-box-shadow: none;
-ms-box-shadow: none;
-o-box-shadow: none;
box-shadow: none;
}
body .no-padding {
padding: 0;
}
.widget-area {
background-color: #fff;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
-moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
-ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
-o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
float: left;
margin-top: 30px;
padding: 25px 30px;
position: relative;
width: 100%;
}
.status-upload {
background: none repeat scroll 0 0 #f5f5f5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
float: left;
width: 100%;
}
.status-upload form {
float: left;
width: 100%;
}
.status-upload form textarea {
background: none repeat scroll 0 0 #fff;
border: medium none;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
-ms-border-radius: 4px 4px 0 0;
-o-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
color: #777777;
float: left;
font-family: Lato;
font-size: 14px;
height: 142px;
letter-spacing: 0.3px;
padding: 20px;
width: 100%;
resize:vertical;
outline:none;
border: 1px solid #F2F2F2;
}

.status-upload ul {
float: left;
list-style: none outside none;
margin: 0;
padding: 0 0 0 15px;
width: auto;
}
.status-upload ul > li {
float: left;
}
.status-upload ul > li > a {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
color: #777777;
float: left;
font-size: 14px;
height: 30px;
line-height: 30px;
margin: 10px 0 10px 10px;
text-align: center;
-webkit-transition: all 0.4s ease 0s;
-moz-transition: all 0.4s ease 0s;
-ms-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
width: 30px;
cursor: pointer;
}
.status-upload ul > li > a:hover {
background: none repeat scroll 0 0 #606060;
color: #fff;
}
.status-upload form button {
border: medium none;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
color: #fff;
float: right;
font-family: Lato;
font-size: 14px;
letter-spacing: 0.3px;
margin-right: 9px;
margin-top: 9px;
padding: 6px 15px;
}
.dropdown > a > span.green:before {
border-left-color: #2dcb73;
}
.status-upload form button > i {
margin-right: 7px;
}

label {
  margin-right: 20px;
}

.slide {
  height: auto;
}

#carousel-example-generic {
  top: 0;
  margin-top: -40px;
}

#nav-bar {
  background: -webkit-linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0));
  border: none;
  font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
  font-weight: 1px;
}

#nav-bar a {
  color:white;
  font-size: 16px;
}

#nav-bar .dropdown-item:hover {
  background: none;
  border-top: 5px solid white;
}


#nav-bar a {
  background: none;
}

#go-button {
  width: 100px;
  height: 40px;
  background-color: vanilla;
}

#search {
  height: 40px;
}

#search-bar {
  padding: 5px;
  margin: auto;
  margin-top: -200px;
  z-index:2;
  top: 50%;
}

.self-jumbotron {
  margin-bottom: 100px;
}

footer {
  position: relative;
}

#events-cards {
  margin-top: 20px;
}

#groups-cards {
  margin-top: 20px;
}


.glyphicon.white {
  width:40px!important;
  height:40px!important;
  color: white!important;
  font-size: 20px;
}

.time-remianing {
  font-size: 18px;
}

.about {
  margin-top: 30px;
}

#groupcard-link {
  font-size: 15px;
}

#groupcard-link:hover {
  color:white;
}

.activity-mini {
  color: white;
}

#burger {
  color:white;
}

#update-role {
  margin-left: 20px!important;
}

.bold {
  font-weight: bold;
}
